{% extends 'layout.html' %} {% block title %}Home{% endblock %} {% block content %}
<h2>Top Destination IP's-Connection,Bytes and Durations</h2>
<div class="container-fluid mt-3">
  
 <div class="row">
       <div class="col-12">
        <iframe src="{{ url_for('dip_bytes') }}" style="height:500px;width:100%;" title="dip_bytes"></iframe>
       </div>
       <br>
      <div class="col-12">
        <iframe src="{{ url_for('dip_connections') }}"  style="height:500px;width:100%;" title="dip_connections"></iframe>
      </div>
      <br>

      <div class="col-12">
        <iframe src="{{ url_for('dip_durations') }}"  style="height:500px;width:100%;" title="dip_durations"></iframe>
      </div>
   </div>
</div>


{% endblock %}